# Application Configuration
NODE_ENV=development
PORT=3000

# Database Configuration
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=nest_db
DB_SYNCHRONIZE=true
DB_LOGGING=true
# DB_MIGRATIONS_PATH=src/database/migrations

# JWT Configuration
# JWT_SECRET=your-secret-key
# JWT_EXPIRES_IN=7d

# API Configuration
# API_PREFIX=api
# API_VERSION=v1

# CORS Configuration
CORS_ENABLED=true
CORS_ORIGIN=http://localhost:3000,http://localhost:4200
# CORS_METHODS=GET,HEAD,PUT,PATCH,POST,DELETE
# CORS_ALLOWED_HEADERS=*
# CORS_EXPOSED_HEADERS=
# CORS_CREDENTIALS为true时，表示允许携带cookie等凭证信息, CORS_ORIGIN不能为*
 CORS_CREDENTIALS=true
# CORS_MAX_AGE=3600
# CORS_INCLUDE_PATHS=/api/*,/public/*
# CORS_EXCLUDE_PATHS=/api/internal/*,/health

# Compression Configuration
# COMPRESSION_ENABLED=false
# COMPRESSION_THRESHOLD=1024
# COMPRESSION_BROTLI_QUALITY=4

